.VerticalNavBarUl {
    display: block;
    list-style-type: none;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .VerticalNavBarUl {
        display: none;
    }
}
