.NavBar {
    z-index: 5;
    height: auto;
    background-color: #343a40;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .NavBar {
        display: flex;
        flex-wrap: wrap;
        height: 56px;
    }
}
