.container {
    display: grid;
    grid-template-columns: 100%;
    align-items: start;
}

.openingMessage {
    justify-self: center;
    box-sizing: border-box;
    margin: 4px 0 16px 0;
}

.textAnchor {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    container {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
    }
    .openingMessage {
        grid-column-start: 1;
        grid-column-end: span 2;
    }
}
